@import "tailwindcss";

@import "./css/docs.css";

@tailwind utilities;


@layer utilities {
    @keyframes move-right {
      0% {
        transform: translateX(0);
      }
      10% {
        transform: translateX(1px);
      }
      20% {
        transform: translateX(2px);
      }
      30% {
        transform: translateX(3px);
      }
      40% {
        transform: translateX(4px);
      }
      50% {
        transform: translateX(5px);
      }
      60% {
        transform: translateX(6px);
      }
      70% {
        transform: translateX(7px);
      }
      80% {
        transform: translateX(8px);
      }
      90% {
        transform: translateX(9px);
      }
      100% {
        transform: translateX(10px);
      }
    }
  
    .animate-move-right {
        animation: move-right 1.6s ease-in-out infinite;
      }

    .animate-move-left {
    animation: move-right 1.6s ease-in-out infinite reverse;
    }

  }


@layer components {
    .btnSendtransaction {
      @apply w-full cursor-pointer py-2 px-6 bg-green-600 rounded-xl text-yellow-400 font-bold hover:text-green-600 hover:bg-yellow-400 duration-500;
    }
    .btnInteract {
        @apply font-bold cursor-pointer py-2 px-3 rounded-xl bg-[#1c2972] hover:bg-[#1c213a] text-yellow-400;
    }
    .btnInteractRed {
        @apply font-bold cursor-pointer py-2 px-3 rounded-xl bg-red-500 hover:bg-red-700 text-white;
    }
    .btnInteractBlocked {
        @apply font-bold py-2 px-3 rounded-xl bg-gray-400 cursor-not-allowed;
    }
    .btnContents {
        @apply w-full text-xl text-left cursor-pointer rounded-xl hover:bg-white/30 duration-500;
      }

    /* .textStandard {
        @apply my-4 text-xl;
    } */

    .textStandardInAbout {
        @apply font-mono  text-base;
        /* @apply text-lg; */
    }
    .textStandard {
        @apply   text-base;
        /* @apply text-lg; */
    }
    .textInOffer {
        @apply text-base;
    }
    .textStandardBold {
        @apply  text-base font-bold;
        /* @apply text-lg font-bold; */
    }
    .textHeader {
        @apply text-3xl font-bold mb-6;
    }


    .bgStandard{
        @apply  bg-gray-100 ;
    }
    .bgStandard2{
        @apply  bg-gray-300 ;
    }
    .bgOffer{
        @apply  bg-gray-300 ;
    }

    

  }

@layer base {
    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }
}

/* @layer components {


    .btn {
        @apply font-bold py-2 px-4 rounded;
    }

    .btn-blue {
        @apply bg-blue-500 text-white;
    }

    .btn-blue:hover {
        @apply bg-blue-700;
    }

    .btn-gray {
        @apply bg-gray-400 text-gray-800;
    }

    .btn-gray:hover {
        @apply bg-gray-500;
    }

    .myfooter {
        @apply bg-[#0082d8] p-4 relative z-10 w-full;
    }

    .myfooter:hover {
        @apply bg-[#41f329] p-4 relative z-10 w-full;
    }
} */